<div class="jumbotron">
	<div class="container">
		<h1>Ang-moba final :) <br/><small>made for Professional's Days by <a target="_blank" href="http://www.nebu.com">Nebu</a></small></h1>
		
		<p>&nbsp;</p>

		<ol>
			<li>Go to the <a href="#/game">game</a> page.</li>
			<li>Press the [Create a new game] button.</li>
			<li>Send the game ID to a friend.</li>
			<li>Ask your friend to copy the ID into the input box and to press [joint to a game] button.</li>
			<li>Some of you just take a step. Play.</li>
		</ol>

		<p>&nbsp;</p>

		<p>
			<a class="btn btn-primary btn-lg" href="#/game" role="button">Let's play &raquo;</a>
		</p>
	</div>
</div>